<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <button class="button" ng-click="showAlert()">
            Show alert
        </button>

        <button class="button" ng-click="runSDKDemo()">
            Demo Interview
        </button>

        <button class="button" ng-click="runSDK()">
            Run SDK
        </button>

        <form id="dashboard-form1" class="list">
            <label class="item item-input" id="dashboard-input1">
                <span class="input-label">URL</span>
                <input type="text" placeholder="https://videointerview.blocknotary.com" ng-model="inputUrl">
            </label>
        </form>
        <form id="dashboard-form2" class="list">
            <label class="item item-input" id="dashboard-input2">
                <span class="input-label">TaskId</span>
                <input type="text" placeholder="jRJsnZFgXQ" ng-model="inputTask">
            </label>
        </form>
        <form id="dashboard-form3" class="list">
            <label class="item item-input" id="dashboard-input3">
                <span class="input-label">UserKey</span>
                <input type="text" placeholder="40512c57a74f5b1031aff1aaaf3665f93b608a6f042a32c8c792a8773451e450" ng-model="userKey">
            </label>
        </form>
        <form id="dashboard-form4" class="list">
            <label class="item item-input" id="dashboard-input4">
                <span class="input-label">Auth</span>
                <input type="text" placeholder="Basic YWxhZGRpbjpvcGVuc2VzYW1l" ng-model="Auth">
            </label>
        </form>

        <button class="button"ng-click="StartRealInterview(inputUrl,inputTask,userKey,Auth)"> Start Real Interview With Parametrs</button>

    </ion-content>
</ion-view>
