<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button" ng-click="showAlert()">
        Show alert
    </button>

    <button class="button" ng-click="runSDKDemo()">
        Demo Interview
    </button>
    
    <button class="button" ng-click="runSDK()">
        Run SDK
    </button>
  </ion-content>
</ion-view>
